<html>
  <head>
    <%- include('partials/header'); %>
  </head>
  <body>
    <h1> Import guide! </h1>

    <p>This is page3</p>
  </body>
  <footer>
    <%- include('partials/footer'); %>
  </footer>  
</html>